.MuiPickersBasePicker-container {
  background-color: #444 !important;
}
.MuiPickersCalendarHeader-iconButton {
  background-color: transparent !important;
  color: #f5ec4c !important;
}
.MuiPickersCalendarHeader-dayLabel {
  color: #fff !important;
}
.MuiPickersDay-current {
  color: #f5ec4b !important;
}
